@use './reset.scss';

:root {
    --primary-color: #f05123;
    --primary-color-dark: #e94214;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #666;
    --text-color: #333;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
    --button-image: linear-gradient(70.06deg,
            #2cccff -5%,
            #22dfbf 106%);

    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --font-code: "SF Mono", monospace;

    --header-height: 66px;
    --layout-sidebar-width: 96px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--system-ui);
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-y: auto;
    overscroll-behavior: none;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
}

body.show-notification #header {
    top: 50px !important;
}

body.show-notification #sidebar {
    top: 130px;
}